#fm-main-block .btn-group:last-child,
.tox-statusbar__branding{
    display: none;
}

.ce-logo i,
.ce-logo svg{
    font-size: 55px;
    color: #6875F5;
}
.ce-logo img{
    width: 200px;
    margin-bottom: 20px;
}
body{
    color: #222!important;
}
